* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Noto Sans TC', sans-serif;
    text-decoration: none;
}

.banner {
    position: relative;
}

.banner img,
.main img {
    width: 100%;
    vertical-align: middle;
}

.banner-ds {
    position: absolute;
    pointer-events: none;
}

.main {
    background-image: url(../images/bg.jpg);
    background-repeat: repeat;
    padding: 6% 0 2%;
    background-size: 100%;
}

.container {
    margin: 0 auto;
    width: 100%;
}

.navDateTool {
    width: 77%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.buttons {
    margin: 16px 16px;
}

.btn {
    padding: 5px 30px;
    background: #d82b31;
    border-radius: 20px;
    font-size: 1rem;
    color: #fffffd;
    font-weight: 600;
    letter-spacing: 2px;
    outline: none;
    border: 0;
    min-width: 125px;
    cursor: pointer;
}

.btn.active {
    background: #596796;
    color: #fffffd;
}

.calendar {
    width: 100%;
    margin: 60px auto 20px;
}

.calendar-main {
    display: grid;
    grid-template-columns: repeat(auto-fill, 13%);
    /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr; */
    justify-content: center;
    width: 100%;
    grid-gap: 15px;
}

.day {
    height: auto;
}

.day .list:empty {
    display: none;
}

.date {
    margin-bottom: 5px;
    padding: 5px 0;
    border-radius: 20px;
    font-weight: 800;
    font-size: 1.1rem;
    text-align: center;
    letter-spacing: 1px;
}

.gray {
    background: #d2d2d2;
    color: #959595;
}

.yellow {
    background: #f5d082;
    color: #4f463f;
}

.blue {
    background: #596796;
    color: #fefefe;
}

.red {
    background: #d82b31;
    color: #fefefe;
}

.list {
    min-height: 100px;
    padding: 0 4px 30px;
}

.list-title a {
    display: block;
    padding-bottom: 3px;
    color: #585753;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 1.05rem;
    transition: ease-in 0.3s;
}

.list-title.show a {
    border-bottom: 2px solid #cacccb;
}

.list-title.show a.hideBorder {
    border-bottom: none;
}

.list-title a:hover {
    color: #d82b31;
}

/* .america:last-child a {
    border-bottom: 0;
} */

.list-title:last-child a {
    border-bottom: 0;
}

.show.sss a {
    border-bottom: 0;
}

/* footer */

footer {
    color: #fffffd;
    background: #d82b31;
    font-size: 0.875rem;
    line-height: 2rem;
    letter-spacing: 1px;
    width: 100%;
    height: auto;
    min-height: 340px;
    margin: 0 auto;
    word-break: break-all;
    overflow: hidden;
}

footer a {
    color: #fffffd;
    text-decoration: none;
    transition: 0.5s;
}

footer a:hover {
    color: #488176;
}

.footer-line {
    width: 2px;
    height: 210px;
    background: #fffffd;
    margin: 10px 5%;
}

.contact-box-warp {
    display: flex;
    flex-wrap: wrap;
}

.contact-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 33%;
}

.contact-box p span {
    letter-spacing: 0.2rem;
}

.foot-wrap {
    width: 90%;
    max-width: 1400px;
    display: flex;
    margin: 0 auto;
    padding: 5% 0;
}

.footer-left {
    width: 40%;
}

.footer-left h4 {
    font-weight: bold;
    font-size: 1.05rem;
}

.footer-left p:nth-of-type(1) {
    margin-bottom: 30px;
}

.footer-left .triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6.5px 0 6.5px 6px;
    border-color: transparent transparent transparent #fffffd;
    display: inline-block;
    margin-right: 5px;
}

.footer-right {
    display: flex;
    width: 60%;
    font-size: 0.8rem;
    justify-content: space-between;
}

#go-top {
    position: fixed;
    z-index: 999;
    right: 8px;
    bottom: 15px;
    left: initial;
    cursor: pointer;
}

#go-top img {
    margin-top: 10px;
    max-width: 55px;
}

.home-btn {
    transition: 0.5s;
}

.go-top-btn {
    transition: 0.5s;
    position: relative;
    z-index: 98;
    opacity: 0;
}

.filterDiv {
    display: none;
}

.show {
    display: flex;
    opacity: 1 !important;
    transform: translateZ(0) !important;
    transition-duration: 1s !important;
    transition-timing-function: ease !important;
    transition-property: opacity, transform !important;
}
/* 
.noshow {
    display: none;
} */

@media (max-width: 768px) {
    .calendar-main {
        grid-template-columns: repeat(auto-fill, 20%);
    }

    .date {
        font-size: 1rem;
    }

    .list a {
        font-size: 0.9rem;
    }

    /*============== footer ==============*/
    footer {
        font-size: 12px;
    }

    .footer-left {
        width: 40%;
    }

    .footer-right {
        width: 60%;
    }

    .contact-box {
        width: 50%;
    }
}

@media (max-width: 500px) {
    .banner-mobile {
        content: url(../images/手機板.jpg);
    }

    .navDateTool {
        width: 100%;
    }
    
    .buttons {
        margin: 9px 9px;
    }
    
    .btn {
        padding: 5px 24px;
        min-width: 158px;
    }

    .calendar-main {
        display: flex;
        flex-wrap: wrap;
    }

    .day {
        display: block;
        width: 80%;
    }

    .list {
        padding: 0px 12px 10px;
    }

    .noshow {
        display: none;
    }

    .foot-wrap {
        width: 90%;
        flex-direction: column;
        padding: 10% 20px 5%;
    }

    .footer-left {
        width: 100%;
    }

    .footer-line {
        display: none;
    }

    .footer-right {
        margin: 10px 0;
        flex-direction: column;
        width: 100%;
    }

    .contact-box-warp {
        flex-direction: column;
        align-items: start;
    }

    .contact-box {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        align-items: flex-start;
    }

    .contact-box p span {
        letter-spacing: 0.15rem;
    }

    .contact-box p:nth-of-type(2):before {
        content: '';
        margin-right: 6px;
    }
}
